Api_project/__pycache__/
Api_project/Api_project/__pycache__
Api_project/app_weather/__pycache__/
Api_project/app_weather/migrations/__pycache__/
Api_project/Api_project/__pycache__/settings.cpython-38.pyc