{% extends 'main_template.html' %}

{% load static %}


{% block data %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="GET" id="formID" action="{% url 'Weather' %}">
                    <label for="">City</label>
                    <br>
                    <input id="city" type = "text" name = 'city' placeholder = "e.g. Colombia" maxlength="200" onkeypress='return validateKey(event)'>
                    <br>
                    <label for="">Country</label>
                    <br>
                    <input id="country" type = "text" name = 'country' placeholder = "e.g. co" maxlength="2" onkeypress='return validateKey(event)'>
                    <br>
                    <br>
                    <input type="radio" id="Json" name="gender" value="Json" checked>
                    <label for="Json">Json</label><br>
                    <input type="radio" id="Pretty" name="gender" value="Pretty">
                    <label for="Pretty">Pretty View</label><br>

                    <input type = "submit" value = "Go" onclick="return validateEmpty()">
                </form>

            </div>
        </div>
    </div>

{% endblock data %}